.Calc-Container__Bottom__Country-item {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  cursor: pointer;

  &:first-child {
    border-style: none none solid none;
  }

  &.Active {
    border-bottom: none;
  }
}
