@mixin Container__Form() {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 80px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 10px 35px -15px rgba(0, 0, 0, 0.7);
}
